.main {
    overflow: hidden;
}

/* Banner silde */
.banner_adv {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.banner_slide-list-title {
    list-style: none;
    display: flex;
    padding-left: 5px;
    padding-top: 2px;
    margin: 0;
}

.banner_slide {
    position: relative;
}

.banner_slide-img img{
    width: 100%;
}

.banner_slide-list-title {
    display: flex;
    justify-content: center;
}

.banner_slide-title-name {
    width: 50px;    
    margin-left: 10px;
    border-radius: 1px;
    overflow: hidden;
    background-color: rgb(219, 219, 219);
}

/* Right left button */
.local-slide__left,
.local-slide__right {
    position: absolute;
    display: block;
    top: 40%;
    transform: translateY(-60%);
    background-color: white;
    opacity: 0.75;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    
    border: 1px solid #a7a7b1;
    cursor: pointer;
}

.local-slide__left:hover ,
.local-slide__right:hover {
    opacity: 1;
}

.local-slide__left-icon {
    padding: 12px;
    font-size: 2.5rem;
    color:#a7a7b1;
}

.local-slide__left {
    left: 20px;
}

.local-slide__right {
    right: 10px;
}

.local-slide__none-direct {
    display: none;
}

/* Category img's item  */

.category-img {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #dee2e6;
}
.category-img__name {
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: var(--text-color);
    font-size: 1.2rem;
}

.category-img__name span {
    font-weight:400;
    font-size: 80%;
}

.category-img__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow:scroll;
    margin:0;
}   


.category-img__list::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    height: 5px;
}
/* Optional: show position indicator in red */
.category-img__list::-webkit-scrollbar-thumb {
    background: #dddddd;
}

.category-img__item {
    flex-shrink: 0;
    padding: 20px 10px;
}
.category-img__link {
    --line-height: 2rem;
    display: block;
    text-decoration: none;
    color: white;
    overflow: hidden;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}
/* App container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 16px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #dee2e6;
}

.category_menu {
    overflow: hidden;
}

.category__heading {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 16px 20px 0;   
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
    
} 

.category-list {
    padding:0 0 8px 0;
    list-style: none;
    padding-left: 8px;
}

.category-item {
    position: relative;
    padding: 4px 0;
    display:flex;
    padding: 6px 20px;
}

.category-item:first-child::before {
    border: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 8px;
    position: absolute;
    border: 4px solid ;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__name {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    transition: right linear 0.1s;
    padding-left: 10px;
}


.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-last-of-type(3n +1) .mobile-category__link{
    background-color: #87afd8;
}

.mobile-category__item:nth-last-of-type(3n +2) .mobile-category__link{
    background-color: #76c9db;
}

.mobile-category__item:nth-last-of-type(3n +3) .mobile-category__link{
    background-color: #88cf81;
}

.mobile-category__link {
    --line-height: 2rem;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}



/* Home sort + filter */
.home-filter {
    position: relative;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center ;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    background-color: var(--white-color);
}

.home-filter__pag {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__pag-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__pag-curent {
    color: var(--primary-color);
}

.home-filter__pag-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__pag-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__pag-btn:first-child {
    border-right: 1px solid #ccc;
}

.home-filter__pag-icon {
    margin: auto;
}

.home-filter__pag-btn--disable {
    background-color: #f9f9f9;   
    cursor: default;
}

.home-filter__pag-btn--disable .home-filter__pag-icon {
    color: #ccc;
    
}

/* Product */
.home-product {
    margin-bottom: 10px;
}

.sale__list {
    padding-bottom: 30px;
}

.sale__item {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #fff;
}

.sale__item-link {
    display:block;
    position: relative;
    border: 1px solid #dee2e6;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;   
    padding: 12px;
    min-height: 450px;
}

.sale__item-link a {
    text-decoration: none;
}

.sale__item-link:hover {
    border: 1px solid var(--primary-color);
    z-index: 1;
    border-radius: 5px;
    transition: all .1s;   

}

.sale__item-link:hover .sale__item-img {
    transform: scale(1.2);
}

/*   */

.sale__item-img {
    display: flex;
    justify-content:center;
    height: 220px;
    overflow: hidden;
}

.sale__item-img--bg {
    background: url(../img/border.png) 0 0 / contain no-repeat; 
      
}

.sale__item-img img {
    height: 200px;
    padding: 30px 0 0 0;
    width: 90%;
}

.sale__item-name {
    margin-top: 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
    color: var(--text-color);
    display: block;    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 36px;
}

.sale__item-price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sale__item-price-sale {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 800;  
}

.sale__item-price-origin {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: line-through;
    font-weight: 500;
}

.sale__item-config {
    background-color: #F8F9FA;
    border-radius: 5px;
    color: #6c757d;
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding: 10px;
}

.sale__item-infor {
    display: flex;
    flex-wrap: wrap;
}

.item-infor__detail {
    margin-right: 10px;
}

.item-infor__detail i{
    margin-right: 5px;
}

.sale__item-pay {
    display: flex;
    align-items: center;
}

.sale__item-pay img {
    border-radius: 50%;
    margin-right: 5px;
}

.sale__item-btn {
    display: none;
    justify-content: space-around;
}

.sale__item-link:hover .sale__item-btn {
    display: flex;
}

.pagination {
    margin: 48px 32px;
    padding-left: 0;
}
