/* App container */
.app__container {
    background-color: #F1B193;
    background-image: url("../img/bg_main.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Banner sale */
.banner_sale {
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner_sale-img {
       
}

/* Banner adversiting */
.local {
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.banner_adv {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.banner_slide-list-title {
    list-style: none;
    display: flex;
    padding: 5px;

}

.banner_slide {
    position: relative;
}

.banner_infor {
    padding: 5px 0 5px 5px; 
}

.banner_slide-img img {
    border-radius: 5px;
    margin: 5px 0 0 5px;    
}

.banner_infor-highlight {

}

.banner_infor-img img {
    border-radius: 5px;
}

.banner_infor-highlight-title {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.banner_infor-highlight-title--name {
    color: #6c757d;
    font-size: 1.4rem;
    font-weight: bold;
}

.banner_infor-highlight-title--more a{
    font-size: 1.4rem;
    text-decoration: none;
}

.banner_infor-highlight-details {
}

.banner_infor-highlight-details-item {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}

.banner_infor-highlight-details-item--img {
    border-radius: 3px;
    border: 0.3px solid rgba(73, 73, 73, 0.5);
    padding: 1px;
}

.banner_infor-highlight-details-item--name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5px;
}

/* Right left button */
.local-slide__left,
.local-slide__right {
    position: absolute;
    display: block;
    top: 40%;
    transform: translateY(-60%);
    background-color: white;
    opacity: 0.75;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    border: 1px solid #a7a7b1;
    cursor: pointer;
}

.local-slide__left:hover ,
.local-slide__right:hover {
    opacity: 1;
}

.local-slide__left-icon {
    padding: 12px;
    font-size: 2.5rem;
    color:#a7a7b1;
}

.local-slide__left {
    left: 20px;
}

.local-slide__right {
    right: 10px;
}

.local-slide__none-direct {
    display: none;
}

/* category item */

.category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    box-shadow: 0.5px 0.5px 1px #ccc;
    text-decoration: none;
}

.category__item:hover {
    box-shadow: 2px 2px 4px #ccc;
}

.category__item-img {
    width: 100px;   
    padding: 20px;
    border-radius:50%;
    background-color: #F4F4F4;
}

.category__item-name {
    padding: 15px 0;
    font-size: 1.4rem;
    color: #000;
}

/* Sale off banner */
.sale__title {
    padding:30px;
    font-size: 2.2rem;
    color: var(--primary-color);
    margin: 0;
}

.sale__title i {
    font-size:2.5rem;
    padding-right: 5px;
}

.sale__list {
    padding-bottom: 30px;
}

.sale__item {
    padding-top: 10px;
    padding-bottom: 30px;
}

.sale__item-link {
    display:block;
    text-decoration: none;
}

.sale__item:hover .sale__item-link{
    transform: scale(1.04);
}

.sale__item:first-child .sale__item-link{
    padding-left: 12px;
}

.sale__item:last-child .sale__item-link{
    padding-right: 12px;
}

.sale__item-img {
    background: url(../img/border.png) 0 0 / contain no-repeat;   
    display: flex;
    justify-content:center;
    height: 220px;
}

.sale__item-img img {
    height: 200px;
    padding: 30px 0 0 0;
}

.sale__item-name {
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
}

.sale__item-price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sale__item-price-sale {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 800;  
}

.sale__item-price-origin {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: line-through;
    font-weight: 500;
}

/* Programing sale */
.advertisement-img {
    border-radius: 5px;
}

.program_sale {
    background: url("../img/bg-banner.png")  0 0 / cover no-repeat;
    height: 600px;
    width: 100%;
}

.program_sale__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.program_sale-time {
    padding-top: 32px;
    font-size: 2rem;
}

.program_sale__content {
    margin-left: 70px;
    margin-right: 70px;

}

.sale__content-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(155 154 154);
    padding: 20px 10px;
}

.sale__content-img img{
    display: flex;
    justify-content: center;
}

.sale__content-tile {
    text-align: center;
    color: var(--text-color);
}

.sale__content-name {
    font-weight: 500;
    font-size: 2.5rem;    
    line-height: 3rem;
    margin: 0;
    padding-top: 16px;
}

.sale__content-reduce {
    padding-top: 16px;    
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0;
}

.sale__content-price {

    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 600;
    
}

.program_sale__reduce {
    display: flex;
    justify-content: center;
}

.program_sale_banner {
    display: flex;
    justify-content: center;
    background: url("../img/banner-gift.png") center no-repeat;
}