/* App container */
.app__container {
    background-color: #F1B193;
    background-image: url("../img/bg_main.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 32px;
}

/* Banner sale */
.banner_sale {
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner_sale-img {
       
}

/* Banner adversiting */
.local {
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;
    border: solid 0 #000;
}

.banner_adv {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.banner_slide-list-title {
    list-style: none;
    display: flex;
    padding: 5px;

}

.banner_slide {
    position: relative;
}

.banner_infor {
    padding: 5px 0 5px 5px; 
}

.banner_slide-img img {
    border-radius: 5px;
    margin: 5px 0 0 5px;    
}

.banner_infor-highlight {

}

.banner_infor-img img {
    border-radius: 5px;
}

.banner_infor-highlight-title {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.banner_infor-highlight-title--name {
    color: #6c757d;
    font-size: 1.4rem;
    font-weight: bold;
}

.banner_infor-highlight-title--more a{
    font-size: 1.4rem;
    text-decoration: none;
}

.banner_infor-highlight-details {
}

.banner_infor-highlight-details-item {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}

.banner_infor-highlight-details-item--img {
    border-radius: 3px;
    border: 0.3px solid rgba(73, 73, 73, 0.5);
    padding: 1px;
}

.banner_infor-highlight-details-item--name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5px;
}

/* Right left button */
.local-slide__left,
.local-slide__right {
    position: absolute;
    display: block;
    top: 40%;
    transform: translateY(-60%);
    background-color: white;
    opacity: 0.75;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    border: 1px solid #a7a7b1;
    cursor: pointer;
}

.local-slide__left:hover ,
.local-slide__right:hover {
    opacity: 1;
}

.local-slide__left-icon {
    padding: 12px;
    font-size: 2.5rem;
    color:#a7a7b1;
}

.local-slide__left {
    left: 20px;
}

.local-slide__right {
    right: 10px;
}

.local-slide__none-direct {
    display: none;
}

/* category item */

.category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    box-shadow: 0 0 0.5px 0.5px #ccc;
    text-decoration: none;
    color: #777;
}

.category__item:hover {
    border-color: rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}

.category__item-img {
    width: 100px;   
    padding: 20px;
    border-radius:50%;
    background-color: #F4F4F4;
}

.category__item-icon {
    font-size: 4.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category__item-name {
    padding: 15px 0;
    font-size: 1.4rem;
    color: #000;
}

/* Sale off banner */
.sale__title {
    padding:30px;
    font-size: 2.2rem;
    color: var(--primary-color);
    margin: 0;
}

.sale__title i {
    font-size:2.5rem;
    padding-right: 5px;
}

.sale__list {
    padding-bottom: 30px;
}

.sale__item {
    padding-top: 5px;
    padding-bottom: 20px;
    
}

.sale__item-link {
    display:block;
    text-decoration: none;
    position: relative;
    border: 1px solid #dee2e6;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;   
    padding: 12px;
    height: 480px;
}

.sale__item-link:hover {
    border: 1px solid var(--primary-color);
    z-index: 1;
    border-radius: 5px;
    transition: all .1s;   
}

.sale__item-link:hover .sale__item-img {
    transform: scale(1.2);
}

.sale__item-img {
    display: flex;
    justify-content:center;
    height: 220px;
}

.sale__item-img--bg {
    background: url(../img/border.png) 0 0 / contain no-repeat; 
      
}

.sale__item-img img {
    height: 200px;
    padding: 30px 0 0 0;
}

.sale__item-name {
    margin-top: 5px;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.sale__item-price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sale__item-price-sale {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 800;  
}

.sale__item-price-origin {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: line-through;
    font-weight: 500;
}

.sale__item-config {
    background-color: #F8F9FA;
    border-radius: 5px;
    color: #6c757d;
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding: 10px;
}

.sale__item-infor {
    display: flex;
    flex-wrap: wrap;
}

.item-infor__detail {
    margin-right: 10px;
}

.item-infor__detail i{
    margin-right: 5px;
}

.sale__item-pay {
    display: flex;
    align-items: center;
}

.sale__item-pay img {
    border-radius: 50%;
    margin-right: 5px;
}

.sale__item-btn {
    display: none;
    justify-content:center
}

/* favorite and sale label */

.sale__item-favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sale__item-favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.sale__item-favourite i {
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.sale__item-sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    padding-top: 4px;
    border-top-right-radius: 2px;
}

.sale__item-sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid ;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.sale__item-sale-off-percent {
    color: #ee4d2d;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
}

.sale__item-sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
}

/* Programing sale */
.advertisement-img {
    border-radius: 5px;
    overflow: hidden;
}

.program_sale {
    background: url("../img/bg-banner.png")  0 0 / cover no-repeat;
    height: 650px;
   
}

.program_sale__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.program_sale-time {
    font-size: 2rem;
    color : var(--text-color)
}

.program_sale__content {
    margin-left: 70px;
    margin-right: 70px;

}

.sale__content-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(155 154 154);
    padding: 20px 10px;
    text-decoration: none;

}

.sale__content-img {
    display: flex;
    justify-content: center;
}

.sale__content-tile {
    text-align: center;
    color: var(--text-color);
}

.sale__content-name {
    font-weight: 500;
    font-size: 2.5rem;    
    line-height: 3rem;
    margin: 0;
    padding-top: 16px;
}

.sale__content-reduce {
    padding-top: 16px;    
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0;
}

.sale__content-price {

    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 600;
    
}

.program_sale__reduce {
    display: flex;
    justify-content: center;
}

.program_sale__banner {
    display: flex;
    justify-content: center;  
    margin-bottom: 32px;
}

.program_sale__banner .content {
    background: url("../img/banner-gift.png") center no-repeat;
    width: 595px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program_sale__gift {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3;
    margin-left: 5px;
}

.program_sale__gift .gift {
    color: #ffcf00 !important;
}

.program_sale__gift a {
    color: #fff;
}

/* banner 3 */
.lazy-load-image-loaded {
    border-radius: 6px;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;
    border: solid 0 #000;
    background-color: rgba(0,0,0,0);
    object-fit: contain;
}