@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.pd-header {
    box-shadow: 0 0 3px 0 #dee2e6;
    padding-bottom: 32px;
}

.product__intro {
    padding-right: 20px;
}

.product__img {
    display: flex;
    justify-content:center;
}

.product__img img{
    width:70%;
    height:100%;
}

.frame-boder {
    color: #495057;
    border: solid 1px #e9ecef;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 16px;
}

.product__details-list {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.product__detail i {
    padding-right: 5px;
}

.product__detail {
    padding-bottom: 10px;
}

.product__infor {
    font-size:1.4rem;
    color:var(--text-color);
    line-height:2rem;
}

.product__name {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--black-color);
}

.product__price {
    margin-top: 16px;
    display: flex;
}

.product__price-sale {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 3rem;
    padding-right: 30px;
}

.product__price-origin {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight:400;
    text-decoration: line-through;
}

.product__sale-title {
    color: #000;
    font-weight: 500;
}

.product__sale-list {
    list-style: none;
    padding-left: 0;
}

.product__sale-item {
    display: flex;
    padding-top: 10px;
}

.product__sale-icon {
    color: #48bb78;
    margin-right: 10px;
}

.product__sale-link {
    margin-left: 5px;
    text-decoration: none;
    color :var(--link-color);
}

.product__intro-footer {
    display:flex;
    font-size: 1.4rem;
    color: var(--text-color)
}

.product__intro-footer-item {
    margin-right: 24px;
}

.product__intro-footer-item i {
    color: var(--primary-color);
    margin-right:5px;
}

.vn_pay {
    margin-top: 16px;
    display: flex;
}

.vn_pay-img img{
    width: 58px;
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 4px;
    padding: 5px;
}

.vn_pay-body {
    margin-left: 10px;
}

.vn_pay-title {
    font-weight: 500;
}

/* -- quantity box -- */
.quantity {
    display: inline-block; 
}

.quantity .input-text.qty {
    width: 35px;
    height: 36px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; 
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;
}

.quantity.buttons_added .minus {
    border-right: 0; 
}

.quantity.buttons_added .plus {
    border-left: 0; 
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none; 
}
   
.add_cart {
    display: flex;
}

.add_cart-btn {
    margin-left: 20px;
    height: 40px;
    padding: 0 60px;
    font-size: 1.6rem;
}

.buy_now {
    width: 100%;
    padding:30px 0 ;
    flex-direction: column;
}

.buy_now-title {
    font-size: 1.8rem;
}

.buy_now-content {
    margin-top: 5px;
}

/* Product description */
.pd-body {
    background-color: #F8F9FA;
    color: var(--text-color)
}

.product__description {
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 8px;
    padding: 16px 20px;
    background-color: white;
    font-size: 1.6rem;
    line-height: 1.8;
}

.product__description-header {
    text-align: center;
    color: black;

}

.product__description-content img{
    width: 100%;
}

#more {
    display: none;
}

.product__recomment {
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 8px;
    padding: 16px 20px;
    background-color: white;
    font-size: 1.4rem;
    line-height: 2;
}

.product__recomment-title {
    color : black;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.product__recomment-list {
    padding-left: 0;
}

.product__recomment-item {
    display: flex;
    margin-bottom: 16px;
}

.product__recomment-item-img {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 80px;
}

.product__recomment-item-content {
    padding-left: 10px;
}

.product__recomment-item-price {
    display: flex;
    color: var(--primary-color);
}

.product__recomment-item-price--origin {
    text-decoration: line-through;
    padding-left: 10px;
    color: #ccc;
}

/* Đánh giá nhận xét */
.evaluate__point {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.evaluate_rank {
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 600;
}

.evaluate_star i{
    color: var(--star-gold-color)
}

.evaluate__quatity {
    font-size: 1.4rem;
    color: #99a2aa;
}


.rate__process-item {
    display: flex;  
}

.rate__process-lable i{
    color: var(--star-gold-color);
    font-size:1.2rem;
}

.rate__process-bar {
    flex: 1;
    height:10px;
    background-color: #e9ecef;
    border-radius: 20px;
    margin: 10px 10px 0 ;
    overflow: hidden;
}

.rate__process-length {
    background-color: #48bb78;
    height:10px;
}

.rate__process-quatity {
    font-size: 1.3rem;
    color: #99a2aa;
}

/* Comment */
.cmt-content__form {
    display: flex;
    position: relative;
}

.cmt-username,
.cmt-input {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 80px;
    margin-right: 10px;
}

.cmt-username {
    height: 40px;
    margin-bottom: 5px;
    width: 99%;
}

.cmt-btn {
    margin-top: 22px;
    position:absolute;
    right: 20px;
}

/* User comment */

.user-cmt__form {
    display: flex;
}

.user-cmt__img {
    background-color: #ccc;
    border-radius: 50%;
    width: 80px;
    margin-right: 16px;
}

.name-text {
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.user-cmt__time {
    color: rgb(184, 183, 183);
    font-size:1.3rem;
}

.reply-btn {
    text-decoration: none;
    color: var(--link-color);
    font-size: 1.2rem;
}

.reply-form {
    margin-left: 100px;
    margin-top: 20px;
    border-left: 3px solid #ccc;
    padding-left: 10px;
}

.admin-tag {
    background-color: var(--primary-color);
    font-size: 1rem;
    color: white;
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 3px;
}

/* Đánh giá sao */
.ratings { 
    border: none;
    float: left;
}

.btn-star {
    float: bottom;
}

.ratings > input { 
    display: none; 
} 

.ratings > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.ratings > .half:before { 
    content: "\f089";
    position: absolute;
}

.ratings > label { 
    color: #ddd; 
    float: right; 
    margin-right: 5px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.ratings > input:checked ~ label, /* show gold star when clicked */
.ratings:not(:checked) > label:hover, /* hover current star */
.ratings:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.ratings > input:checked + label:hover, /* hover current star when changing rating */
.ratings > input:checked ~ label:hover,
.ratings > label:hover ~ input:checked ~ label, /* lighten current selection */
.ratings > input:checked ~ label:hover ~ label { color: #FFED85;  } 